html,body {
    font-family: 'Raleway','Roboto','Open Sans', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

.screen-adapt {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px 0px 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    height:65px;
}

h1 {
    margin:0px;
}

h1,h2,h3 {
    font-weight: bold;
}

h2,h3 {
    font-size: medium;
    margin:0;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
    margin: 0px;
}

ul { 
    list-style-type: none;
    padding: 0px;
    display: flex;
}

a {
    color:inherit;
    cursor: pointer;
    text-decoration:none;
}

p {
margin: 0px;
}

header nav li {
    padding: 37px 20px 0px 20px;
}

header nav a {
    cursor: pointer;
    text-decoration:none;
}

.login {
    color: #0065FC;
}

header nav li:hover {
    color:#0065FC;
    cursor: pointer;
    text-decoration:none;
    border-top-color: #0065FC;
    border-top-style: solid;
    border-top-width: 2px;
}

header nav li.login {
    color: #0065FC;
    font-weight: bold;
}

.section_recherche {
    padding-top: 40px;
    box-sizing: border-box;
}

.section_recherche > * {
    padding: 10px 0px 10px 0px;
}

.section_recherche ul {
margin: 0px;
padding: 0px;
}

.section_recherche p {
    padding: 0px 0px 15px 0px;
}

.section_recherche form {
    font-weight: bold;
    padding: 10px 0px 20px 0px;
}

section form ul {
    border-style: solid;
    border-width: 1px;
    border-color: #F2F2F2;
    border-radius: 15px;
    width: max-content;
}

.section_recherche form ul li:first-child {
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding:14px 14px 14px 14px;
}

section form input[type="search"] {
    border-color: transparent;
    margin-left: 6px;
    padding: 10px;
    font: unset;
    margin-right: 10px;
    font-size: 1.1rem;
}

.section_recherche form span {
    display: none;
}

.section_recherche form input[type="button"] {
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 14px;
    border-style:none;
    font: unset;
    color: white;
    cursor: pointer;
}

.section_recherche .filtres {
    align-items: center;
}

section ul.filtres li {
    display: flex;
    flex-wrap: wrap;
}

.section_recherche .filtres li h2 {
    padding-right: 20px;
}

section ul.filtres li ul {
    border-color: #F2F2F2;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-left-style: none;
    padding-right: 10px;
    margin: 5px 5px;
}

li.filtreicone {
    display:flex;
    background-color: #DEEBFF;
    color:#0065FC;
    border-radius: 17px;
    padding: 9px;
    height: 16px;
    width: 16px;
    align-items: center;
    justify-content: center;
}

.section_recherche ul li button {
    background-color:transparent;
    font-weight: bold;
    border:none;
    padding-left: 10px;
    font-size: 1.06rem;
    white-space: nowrap;
}

section ul li button:hover {
    color:#0065FC;
    cursor: pointer;
}

section div.info {
    display: flex;
    align-items: baseline;
    padding-top: 20px;
}

.fa-info:before {
    content: "\f129";
    background-color: transparent;
    color: #0065FC;
    border-color: #F2F2F2;
    border-width: 1px;
    border-style: solid;
    border-radius: 17px;
    padding: 8px;
    height: 10px;
    width: 10px;
    margin: 15px 12px 15px 0px;
    font-size: x-small;
}

                                    /* main */
.container {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

#hebergements {
    width: 60%;
    background: #f2f2f2;
    border-radius: 10px;
    padding: 30px;
}

#hebergements h2 {
    margin-bottom: 25px;
}

#hebergements h3 {
    margin-top: 7px;
}

#hebergements h3:last-child {
    font-size: 1.15rem;
    margin-top: 0px;
}

#hebergements .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.carte_hebergement_portrait {
    background-color: white;
    border-radius: 12px;
    padding: 5px;
    box-shadow: 0px 0px 8px lightgrey;
    width: fit-content;
    margin-bottom: 22px;
}

.carte_hebergement_portrait .taille-image {
    width: 171px;
    height: 79px;
    overflow: hidden;
}

.carte_hebergement_portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.hebergement_portrait_texte {
    padding-left: 7px;
}

.hebergement_portrait_texte p {
    padding: 7px 0px 7px 0px;
}


                                /* aside */
.populaires {
    width: 25%;
    background: #f2f2f2;
    border-radius: 10px;
    height: fit-content;
    padding: 30px;
}

.populaires h2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.container_aside {
    height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carte_hebergement_paysage {
    background-color: white;
    border-radius: 12px;
    padding: 5px;
    box-shadow: 0px 0px 8px lightgrey;
    width: max-content;
    height: max-content;
}

.populaires a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.populaires .taille-image {
    width: 78px;
    height: 88px;
    overflow: hidden;
}

.populaires img {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hebergement_paysage_texte {
    padding: 5px 0px 0px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 130px;
    font-size: 10px;
}

.hebergement_paysage_texte p {
    margin-top: 5px;
}

                                    /* activites */
#activites {
    box-sizing: border-box;
    padding-top: 40px;
    }

#activites h2 {
    padding: 20px 0px 20px 0px;
}

.bloc_cartes_activites {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

.bloc_cartes_activites > * {
    flex: 0 0 auto;
    margin-bottom: 35px;
  }



.col-2, .col-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bloc_cartes_activites a {
    display: block;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 8px lightgrey;
    height: fit-content;
    width: fit-content;
}

.bloc_cartes_activites .image_activite_taille {
    height: 315px;
    width: 225px;
    overflow: hidden;
    border-radius: 12px 12px 0px 0px;
}

.col-2-top .image_activite_taille { height: 135px;}
.col-2-bottom .image_activite_taille { height: 100px;}
.col-4-top .image_activite_taille { height: 110px;}
.col-4-bottom .image_activite_taille { height: 125px;}

.bloc_cartes_activites img {
    height: 130%;
    width: 105%;
    object-fit: cover;
    object-position: center;
}

.bloc_cartes_activites h3 {
    padding: 14px;
}


                       /* footer */
footer {
    max-width: 1024px;
    background-color: #F2F2F2;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px 40px 20px;
}

    footer ul {
    display: flex;
    flex-direction:column;
    width: 45%;
    padding-top: 20px;
}

    footer ul li:first-child {
        padding-bottom: 15px;
    }

    footer ul li {
        padding-bottom: 10px;
    }

    footer a {
    color:inherit;
    cursor: pointer;
    text-decoration:none;
}

    footer a:hover {
    color:#0065FC;
}
    

                                            /* talette */
@media (max-width: 768px) {
.screen-adapt,footer {
    padding:20px;
    }

header {
    align-items: center;
}

header nav li {
    padding: 0px 20px 20px 20px;
}

header nav li:hover {
    color: #0065FC;
    cursor: pointer;
    text-decoration: none;
    border-top: none;
    border-bottom: #0065FC solid 2px;
}

section ul.filtres {
    display:block;
}

.filtres .bloc-btn-filtres {
    padding-top: 10px;
}

.container {
    flex-direction: column-reverse;
    padding: 0;
}

.populaires {
    border-radius: 0;
    width:35%;
    height:auto;
    background: white;
    padding: 0px;
}

.populaires .carte_hebergement_paysage {
    margin-bottom: 25px;
}

#hebergements {
    width: auto;
    background:none;
    border-radius: 12px;
    margin-right:0;
    background: #F2F2F2;
}

#hebergements .container {
    justify-content: space-around;
    flex-direction: row;
}

#activites h2 {
    padding: 25px 0px 20px 0px;
}

.bloc_cartes_activites {
    padding-bottom: 0;
    justify-content: space-between;
}

.bloc_cartes_activites .col-2, .bloc_cartes_activites .col-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 477px;
}

.bloc_cartes_activites .image_activite_taille {
    height: 133px;
}

footer {
    justify-content: space-between;
}

footer ul {
    width: unset;
}


}



                                        /*  iphone */
@media (max-width: 375px) {
body {
    font-size: 15px;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.4rem;
}

.hebergement_paysage_texte {
    font-size: 14px;
}

#hebergements h3:last-child {
    font-size: 1.35rem;
}

.screen-adapt,footer {
    padding: 0px;
}

.populaires,#hebergements,#activites,footer {
    padding: 35px 20px 20px 20px;
}

.section_recherche {
    padding: 45px 20px 5px 20px;
}

.section_recherche .filtres li h2 {
    font-size: 1.2rem;
}

#activites h2 {
    padding: 0px 0px 20px 0px;
}

header {
    display: block;
    padding-top: 20px;
}

header img {
    float:left;
    position:absolute;
    padding-left: 22px;
}

header nav ul {
    margin: 0px;
    display: grid;
    grid-template-areas: 
    "s s"
    "h a";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #F2F2F2;
}

header nav ul li:last-child {
    grid-area: s;
    text-align: right;
    padding-right:22px;
}

header nav ul li:first-child {
    grid-area: h;
}

header nav li {
    text-align: center;
    padding: unset;
}

header nav li:hover {
    border-top: unset;
    border-bottom: #0065FC solid 2px;
    padding: 17px 0px 17px 0px;
}

.login:hover {
    border-color:transparent;
}

section form ul {
    justify-content: space-between;
    width: auto;
}

section form input[type="search"] {
    font-size: 1.2rem;
}

.section_recherche form ul li:first-child {
    padding: 14px;
}

section form input[type="button"] {
    display: none;
}

.section_recherche form span {
    display: block;
    background-color: #0065FC;
    color: white;
    padding: 14px;
    border-radius: 12px;
}

.populaires a {
    flex-direction:row;
}

.populaires .carte_hebergement_paysage {
    margin-bottom: 10px;
}

.populaires {
    background: #F2F2F2;
    width: auto;
}

.container_aside {
    height: auto;
    flex-direction: column;
}

.populaires .carte_hebergement_paysage .taille-image {
    width: 125px;
    height: 139px;
}

.populaires .hebergement_paysage_texte {
    width: 186px;
}

#hebergements {
    background: white;
}

#hebergements .container {
    flex-direction: column;
}

#hebergements .taille-image {
    width: auto;
    height: 106px;
    overflow: hidden;
}

                        /* activites */
.bloc_cartes_activites {
    display: block;

}

.bloc_cartes_activites .col-2, .bloc_cartes_activites .col-4 {
    margin-bottom: 30px;
    flex-direction: column;
    width: 100%;
}

.bloc_cartes_activites > * {
    margin-bottom: 30px;
}

.col-2-top , .col-4-top {
    margin-bottom: 30px;
}

.col-4 {
    margin-bottom: 25px;
}

.bloc_cartes_activites div a {
    display: block;
}

.bloc_cartes_activites .image_activite_taille {
    width: auto;
    height: 133px;
}

footer {
    display: block;
}

footer ul {
    width: auto;

}}