body {
    font-family: 'Raleway','Roboto','Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}

header,section,main {
    padding: 0px 20px 0px 20px;
}

section,main {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: medium;
    margin:0;
}

h3 {
    font-weight: bold;
    font-size: medium;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

ul { 
    list-style-type: none;
    padding: 0px;
    display: flex;
}

em {
    font-style: normal;
    font-weight: bold;
    white-space: nowrap;
}

a {
    color:inherit;
    cursor: pointer;
    text-decoration:none;
}

header nav li {
    margin: 15px;
}

header nav a {
    cursor: pointer;
    text-decoration:none;
}

.login {
    color: #0065FC;
}

header nav a:hover {
    color:#0065FC;
    cursor: pointer;
    text-decoration:none;
    border-top-color: #0065FC;
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 28px;
}

header nav li.login {
    color: #0065FC;
    font-weight: bold;
}

section form {
    margin-bottom: 2em;    
    font-weight: bold;
}

section form ul {
    border-style: solid;
    border-width: 1px;
    border-color: #F2F2F2;
    border-radius: 15px;
    width: max-content;
}

section form ul li:first-child {
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 12px;
}

section form input[type="search"] {
    border-color: transparent;
    margin-left: 6px;
    padding: 10px;
    font: unset;
    margin-right: 10px;
}

section form span {
    display: none;
}

section form input[type="button"] {
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 12px;
    border-style:none;
    font: unset;
    color: white;
    cursor: pointer;
}

section ul {
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
}

section ul.filtres li {
    display: flex;
}

section ul.filtres li ul {
    border-color: #F2F2F2;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-left-style: none;
    padding-right: 10px;
}

li.filtreicone {
    display:flex;
    background-color: #DEEBFF;
    color:#0065FC;
    border-radius: 17px;
    padding: 9px;
    height: 16px;
    width: 16px;
    align-items: center;
    justify-content: center;
}

section ul li button {
    background-color:transparent;
    font-weight: bold;
    border:none;
    padding-left: 10px;
}

section ul li button:hover {
    color:#0065FC;
    cursor: pointer;
}

section div.info {
    display: flex;
    align-items: baseline;
}

.fa-info:before {
    content: "\f129";
    background-color: transparent;
    color: #0065FC;
    border-color: #F2F2F2;
    border-width: 1px;
    border-style: solid;
    border-radius: 17px;
    padding: 8px;
    height: 10px;
    width: 10px;
    margin: 15px 12px 15px 0px;
    font-size: x-small;
}

main {
    display: flex;
}

main section {
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 70%;
    padding: 20px;
}

main section ul {
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

main section li {
    padding: 15px;
}

main section ul li figure {
    background-color:white;
    border-radius: 12px;
    padding: 5px;
    box-shadow: 0px 0px 8px lightgrey;
    margin: 0;
}

main section ul li figure div {
    display:block;
    overflow: hidden;
    height: 116px;
    width: 230px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

main section figure img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

main section figcaption {
    margin-left: 9px;
    margin-top: 7px;
}

main h2 {
    margin-top: 9px;
}

main section figcaption p {
    margin-top: 5px;
    margin-bottom: 5px;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 30%;
    margin-left: 25px;
    padding: 20px;
}

aside h2 {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

aside ul {
    flex-direction: column;
}

aside li {
    padding:15px;
}

aside figure {
    display: flex;
    background-color: white;
    border-radius: 12px;
    padding: 5px;
    box-shadow: 0px 0px 8px lightgrey;
    margin: 0;
    width: 100%;
    max-height: 130px;
    max-width: 400px;
    min-width: 287px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

aside figure div.aside-caption {
    width:auto;
}

aside figure div {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    overflow: hidden;
    height: 130px;
    width: 130px;
}

aside img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align:middle;
}

aside figcaption {
    padding: 10px 10px 10px 15px;
    display: flex;
    flex-direction: column;
    min-width: 130px;
}

aside figcaption h2 {
    margin-top: 10px;
    margin-bottom: -34px;
}

aside figcaption p {
    margin: 0;
}

#activites {
    margin-top: 30px;
    margin-bottom: 30px;
}

.nouvelessaiactivites {
    display: flex;
    margin-top: 15px;
}

.unique {
    width: 25%;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 0px 8px lightgrey;
    margin-right: 28px;
}

.unique div {
    height: 350px;
}

.nouvelessaiactivites h2 {
    margin: 10px 10px 10px 10px;
}

.nouvelessaiactivites h3 {
    margin-left: 9px;
}

.avec2 {
    width:25%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 28px;
}

.avec2:last-child {
    margin-right: 0px;
}

.avec2 div {
    border-radius: 12px;
    box-shadow: 0px 0px 8px lightgrey;
    overflow: hidden;
}

.avec2 div:first-child {
    margin-bottom: 19px;
}

div.avec2 div div {
    height: 125px;

}

.nouvelessaiactivites img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position:center;
}


footer {
    background-color: #F2F2F2;
    display: flex;
}

footer ul {
    display: flex;
    flex-direction:column;
    width: 45%;
}

footer ul:first-child {
    margin-left: 35px;
}

footer li {
    margin-bottom: 15px;
}

footer a {
    color:inherit;
    cursor: pointer;
    text-decoration:none;
}

footer a:hover {
    color:#0065FC;
}

@media (max-width: 768px) {
header,section,main {
    padding: 0px 15px 0px 15px;
}

header nav a:hover {
        border-top-style:none;
}

header nav li:hover {

    padding-top: 0px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #0065FC;
    padding-bottom: 15px;
}

section ul.filtres {
    justify-content: space-around;
    margin-right: 0;
    margin-left: 0;
}

section ul.filtres li ul {
    margin-left: 7px;
    margin-right: 0px;
}
    main{
    flex-direction: column-reverse;
    }

    main aside {
        width: auto;
        margin :0;
        padding :9px;
        background-color:white;
    }

    aside figcaption h2 {
        margin-top: 7px;
        margin-bottom: 0px;
    }

    aside ul {
        flex-direction: row;
        justify-content: space-between;
    }

    aside li {
        padding: 0px;
    }

    aside ul li figure {
        display:block;
        padding:0;
    }

    aside figure div {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0px;
        overflow: hidden;
        height: 90px;
        width: 215px;
    }

    aside figcaption {
        margin-left:10px;
        padding-bottom: 10px;
    }
    
main section {
    width : auto;
}

main section {
    display: block;
    padding: 15px;
}

main section li {
    padding: 0px;
    margin-bottom: 8px;
}

main section figure {
    display: flex;
    align-items:center;
}

main section ul li figure div {
    width:115px;
    height: 100px;
    border-top-left-radius: 12px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 12px;
}

main section figcaption {
    margin-left: 15px;
    width: 200px;
}

div.nouvelessaiactivites {
    flex-wrap: wrap;
    justify-content: space-between;
}

div.nouvelessactivites {
    margin: 12px 0px 0px 12px;
}

div.unique {
    width: 48%;
    margin-right: 0px;
    margin-bottom: 20px;
}

div.unique div {
    height: 313px;
}

div.avec2 {
    width: 48%;
    margin-right: 0px;
    display:block; 
}

div.avec2 div {
    height: 175px;
}

div.avec2 div:first-child {
    margin-bottom: 12px;
}

footer {
    justify-content: space-between;
    padding-left: 34px;
    padding-right: 40px;
}

footer ul:first-child {
    margin-left:0;
}

footer ul {
    width: auto;
}

}


@media (max-width: 576px) {
header,section,main {
    padding: 6px 10px 6px 10px;
}

header {
    display: block;
}

header img {
    float:left;
    position:absolute;
}

header nav ul {
    margin: 0px;
    display: grid;
    grid-template-areas: 
    "s s"
    "h a";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #F2F2F2;
    margin-left: -10px;
    margin-right: -10px;
}

header nav ul li:last-child {
    grid-area: s;
    text-align: right;
    padding-right:16px;
}

header nav ul li:first-child {
    grid-area: h;
}

header nav li {
    margin: 0px;
    text-align: center;
}

header nav li:hover {
    padding-top: 17px;
}

.login:hover {
    border-color:transparent;
}

section ul:first-child {
    margin:0px;
}

section form input[type="button"] {
    display: none;
}

section form span {
    display: block;
    background-color: #0065FC;
    color: white;
    padding: 12px;
    border-radius: 12px;
}

section ul.filtres {
    display:block;
}

section ul.filtres li {
    flex-wrap: wrap;
}

ul.filtres li ul {
    margin-top: 9px;
}

main aside {
    background-color: #F2F2F2;
    border-radius: 0;
    margin-left: -10px;
    margin-right: -10px;
    padding: 15px;
}

aside ul {
    flex-direction: column;
    margin-bottom:0px;
}

aside li {
    margin-bottom: 10px;
}

aside ul li figure {
    display:flex;
}

aside figure div {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 0px;
    overflow: hidden;
    height: 130px;
    width: 130px;
}

main section {
    background-color:white;
    padding: 6px;
    margin-top: 14px;
}

#hebergements section ul {
    display: block;
}

main section li {
    margin-bottom: 10px;
}

main section figure {
    display: block;
}

main section ul li figure div {
    width: 100%;
    height: 116px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0px;
}

div.nouvelessaiactivites {
    display: block;
}

div.unique {
    width: 100%;
}

div.unique div {
    height: 120px;
}

div.avec2 {
    width: 100%;
}

div.avec2 div {
    height: auto;
    margin-bottom: 20px;
}

div.avec2 div:first-child {
    margin-bottom: 20px;
}

footer {
    display: block;
    margin-bottom: -20px;
    padding-top: 4px;
}

}
